<h1>投稿一覧</h1>

<div>
  <!--タグリスト-->
<% @post_tag.each do |tag|%>
<%= link_to tag.name, search_tag_path(post_tag_id: tag.id) %>
<%="(#{list.posts.count})" %>
<% end %>

  
  <% @post.each do |post| %>
  <i class="fa-solid fa-tag"><%= post.tags.map(&:name).join(', ') %></i>
  <% if post.image.present? %>
  <%= image_tag post.user.get_profile_image(100,100) %>
  <%= post.user.name %>
  <%= link_to post.title, post_path(post) %>
  <%= post.body %>
  <%= image_tag post.get_image %>
  <% else %>
  <!-- 画像が添付されていない場合の表示の記述 -->
  <%= image_tag post.user.get_profile_image(100,100) %>
  <%= post.user.name %>
  <%=link_to post.title, post_path(post) %>
  <%= post.body %>
  <% end %>
  <% end %>
</div>