<h1>Public::Posts#new</h1>

<%= form_with model: @post, method: :post do |f| %>

  <h3>タイトル</h3>
  <%= f.text_field :title %>
  
  <h4>投稿文</h4>
  <%= f.text_area :body %>
  
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  
  <p>,で区切ると複数のタグを付けることができます。</p>
  <%= f.text_field :tag_name, placeholder: "(例)コーヒー,ペーパードリップ" %>
  
  <%= f.submit '投稿' %>
  
<% end %>