<h1>TOP</h1>
<main>
  <h2>User info</h2>
  <div>
    <h3>name　<%= @user.name %></h3>　
    
    <h4>introduction</h4>
    <%= @user.introduction %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  </div>
  
  <div>
    <%= link_to "新規投稿", new_post_path %>
  </div>
  <div>
    <%= link_to "投稿一覧", posts_path %>
  </div>
  <div>
    <%= link_to "グループ", groups_path %>
  </div>
  <div>
    <%= link_to "カッピングノート", cupping_notes_path %>
  </div>
</main>
